@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin '@iconify/tailwind4';

@theme {
	--color-logo: var(--logo-color);
	--color-logo-number: var(--logo-number-color);
	--color-foreground: var(--foreground-color);
	--color-background: var(--background-color);
	--color-table: var(--table-color);
}

@layer base {
	:root {
		--logo-color: #0124a6;
		--logo-number-color: #ff2d1e;
		--foreground-color: #000000;
		--background-color: #ffffff;
		--table-color: #f0f2f1;
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--logo-color: #f0f2f1;
			--logo-number-color: #f0f2f1;
			--foreground-color: #f0f2f1;
			--background-color: #1b1a1ce0;
			--table-color: #2c2a2b;
		}
	}

	body {
		font-family: 'Open Sans', sans-serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
		@apply bg-background text-sm text-foreground md:text-base;
	}
	body::before {
		content: '';

		@apply pointer-events-none fixed top-0 left-1/2 -z-10 h-screen w-screen max-w-400 -translate-x-1/2;
		background-image:
			linear-gradient(90deg, #ff2d1e00 74.9%, #ff2d1e36 75%, #ff2d1e36 100%),
			linear-gradient(0deg, var(--color-background) 0%, var(--color-background) 100%),
			url('/bg.jpg');
		background-blend-mode: multiply;
		background-size: 100% 100%;
	}
	body.n64-mode {
		filter: blur(2px);
	}

	table {
		@apply w-full border-separate border-spacing-x-0 border-spacing-y-2 text-sm;
	}
	th,
	td {
		@apply bg-table p-1 md:p-2;
	}
	th {
		@apply uppercase;
	}
	tr > :first-child {
		@apply rounded-l-lg;
	}
	tr > :last-child {
		@apply rounded-r-lg;
	}
}
